{% extends 'parent/base.html' %}
{% load static %}
{% block title %}product list{% endblock %}

{% block content %}
    <div class="header">
        {% if category %}
            <h1> لیست محصولات براساس دسته بندی({{ category }}) </h1>
        {% else %}
            <h1>لیست محصولات</h1>
        {% endif %}
    </div>

    <div class="container">
        <div class="small_div">
            <ul class="categories">
                <li class="category"><a href="{% url 'shop:product_list' %}">ALL</a></li>
                {% for ct in categories %}
                    <li class="category"><a href="{{ ct.get_absolute_url }}">{{ ct.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="large_div">
            {% for product in products %}
                <div class="product">
                    <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                    <img class="pic" src="{{ product.image.first.file.url }}">
                    <div class="price">
                        <span class="original_price">{{ product.price }}</span>
                        <br>
                        <span class="discount_price">{{ product.new_price }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
